<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>html page</title>
    <link rel="stylesheet" href='{% static "css/style.css"%}'>
</head>
<body>
    <h1 align="center">Create Message</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table border="1" align="center">
            <tr>
                <td>Enter Name</td>
                <td> <input type="text" name="uname" placeholder="sender Name"></td>


            </tr>
            <tr>
                <td>Email ID:</td>
                <td> <input type="number" name="uemail" placeholder="Sender Email"></td>

            </tr>
            <tr>
                <td>Mobile No:</td>
                <td> <input type="number" name="umobile" placeholder="Sender Mobile number"></td>

            </tr>
            <tr>
                <td>Message</td>
                <td><textarea name="msg" id="" cols="30" rows="10"></textarea></td>

            </tr>
            <tr>
                <td colspan="2" align="center"> <input type="submit" value="Send"></td>
            </tr>
        </table>
    </form>
</body>
</html>