<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <h1>dashboard msg</h1>
    <!-- <h1>{{data}}</h1> -->
    {% for i in data %}
    <!-- {{i.name}} -->
    {% endfor %}
    <table border="2px" align="center">
        <tr>
            <th>sr.no</th>
            <th>id</th>
            <th>name</th>
            <th>email</th>
            <th>mobile</th>
            <th>msg</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.mobile}}</td>
            <td>{{i.massage}}</td>

            <td><a href="/edit/{{i.id}}">edit</a></td>
            <td><a href="/delete/{{i.id}}">delete</a></td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>